.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.book .cover-image {
  float: right;
  border-width: 1px;
  border-style: solid;
  border-color: black;
  width: 120px;
}

.book {
  display: inline-block;
  margin-left: 2em;
  margin-bottom: 4px;
  padding-bottom: 12px;
  padding-top: 12px;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: silver;
}
.book h2, h3, p {
  margin-bottom: 4px;
  width: 800px;
}

.book h3 {
  margin-top: 4px;
  font-size: 16px;
}

.book button {
  background: none!important;
  border: none;
  padding: 0!important;
  font-weight: bolder;
  font-size: 14px;
}